@charset "UTF-8";



body {
    height: 100vh;
    background:black url('wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;


}
/* 
Sorthand - background
color > imagem > position > repeat [Size] > attachement
*/

main {
    
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}